<!--
*  Competition delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display the item to delete.
*
* @author Denise Case <dcase@nwmissouri.edu>
-->
<br>
<br>

<% if (competition.error) { %>
  <div class="alert alert-danger" role="alert"><%- competition.error %></div>
  <% } %>
  
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= competition.id %> - <%= competition.name%></h5>
      <br>
      <p class="card-text">
      <p>Created by: <%= competition.User.email %></p>
      <p>Quest: <%= competition.Quest.name %></p>
      <p>Start date/time: <%= competition.startDateTime %></p>
      <p>End date/time:<%= competition.endDateTime %></p>
      </p>
      <br>
      <form action="/competition/delete/<%=competition.id%>" method="post">
        <input type="submit" class="btn btn-danger delete" value="Delete" onclick="return alert('Are you sure?')"/>
      </form>
      <br>
      <a class="btn  edit" href="/competition">Cancel</a>
      <br>
  
    </div>
  </div>
  

  