<!-- <% if (locals.teams.success) { %>
    <div class="alert alert-success" role="alert"><%- team.success %></div>
    <% } %>
    
    <% if (locals.teams.error) { %>
    <div class="alert alert-danger" role="alert"><%- team.error %></div>
    <% } %>
    
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills w-100">
          <li class="nav-pill active">
            <a class="nav-link">Teams</a>
          </li>
          <li class="nav-pill ml-auto">
            <a class="nav-link active" href="/team/create"><i class="fas fa-plus"></i></a>
          </li>
        </ul>
      </div>
      <div class="card-body">
    
        <% if(teams.length) { %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Team Id</th>
              <th scope="col">IsCreated?</th>
              <th >Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i< teams.length; i++) { %>
            <tr>
              <th scope="row"><%= teams[i].id %></th>
              <td><%= teams[i].name%></td>
              <td><%= teams[i].id%></td>
              <td><%= teams[i].isCreated%></td>
              <td>
                <a class="btn btn-primary details" href="../team/details/<%=teams[i].id%>"><i
                    class="fab fa-sistrix" title="test"></i></a>
                <a class="btn btn-success edit" href="../team/edit/<%=teams[i].id%>"><i class="fas fa-user-edit"></i></a>
                <a class="btn btn-danger delete" href="../team/delete/<%=teams[i].id%>"><i
                    class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% } %>
        <!-- if result is empty -->
        <% if(!teams.length) { %>
        <p class="text-center">No teams found!</p>
        <% } %>
        <br>
        <h3>Mouse over icons to see where you will go.</h3>
      </div>
    </div> -->