<!--
*  Game create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a new game.
*
* @author Blake Bennett <s532542@nwmissouri.edu>
-->

<% if (game.error) { %>
    <div class="alert alert-danger" role="alert"><%- game.error %></div>
    <% } %>
    
    <div class="card-body">
    
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">playerCount</th>
            <th scope="col">IsCardGame</th>
            <th >Action</th>
          </tr>
        </thead>
        <tbody>
    
          <tr>
            <th scope="row"><%= game.id %></th>
            <td><%= game.name%></td>
            <td><%= game.playerCount%></td>
            <td><%= game.isCardGame%></td>
            <td>
              <a class="btn btn-success edit" href="/game">Done</a>
            </td>
          </tr>
    
        </tbody>
      </table>
    