<!--
*  Clue index view
*  (the default page for this resource)
*  
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to list all of this type of resource.
*
* @author Denise Case <dcase@nwmissouri.edu>

* based on https://www.mynotepaper.com/nodejs-simple-crud-with-expressjs-and-mysql
* repo https://github.com/mdobydullah/nodejs-crud-with-expressjs-mysql

-->

<% if (locals.clues.success) { %>
  <div class="alert alert-success" role="alert"><%- clue.success %></div>
  <% } %>
  
  <% if (locals.clues.error) { %>
  <div class="alert alert-danger" role="alert"><%- clue.error %></div>
  <% } %>
  
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills w-100">
        <li class="nav-pill active">
          <a class="nav-link">Clues</a>
        </li>
        <li class="nav-pill ml-auto">
          <a class="nav-link active" href="/clue/create"><i class="fas fa-plus"></i></a>
        </li>
      </ul>
    </div>
    <div class="card-body">
  
      <% if(clues.length) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th >Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i< clues.length; i++) { %>
          <tr>
            <th scope="row"><%= clues[i].id %></th>
            <td><%= clues[i].name%></td>
            <td>
              <a class="btn btn-primary details" href="../clue/details/<%=clues[i].id%>"><i
                  class="fab fa-sistrix" title="test"></i></a>
              <a class="btn btn-success edit" href="../clue/edit/<%=clues[i].id%>"><i class="fas fa-user-edit"></i></a>
              <a class="btn btn-danger delete" href="../clue/delete/<%=clues[i].id%>"><i
                  class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } %>
  
      <!-- if result is empty -->
      <% if(!clues.length) { %>
      <p class="text-center">No clues found!</p>
      <% } %>
  
      <br>
      <h3>Mouse over icons to see where you will go.</h3>
  
    </div>
  </div>